name: CI tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  ci-test:
    name: gotest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3
      - name: Setup Golang
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.0

      - name: Verify dependencies
        run: go work sync

      - name: Build
        run: task build

      - name: Run tests
        run: task test
