name: CI tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  e2e:
    name: e2e
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Install Task
        uses: arduino/setup-task@v1
        with:
          version: 3
      - name: Setup Golang
        uses: actions/setup-go@v4
        with:
          go-version: 1.22.6
      - name: Setup e2e
        run: task e2e-setup
      - name: Run e2e tests
        run: task e2e-test
      - name: Stop e2e
        if: always()
        run: task e2e-stop

  e2e-metrics:
    name: e2e-metrics
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Install Task
        uses: arduino/setup-task@v1
        with:
          version: 3
      - name: Setup Golang
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.0
      - name: Run e2e metrics tests
        run: task e2e-metrics